
<%= form_for :form_region, url: {controller:"works", action: "create"}, html: {class: "user_form"}, remote: true do |f| %>
  <div class="form-group">
    <select name="form_region[country_key]" id="custom_select">
      <option value="EMPTY"></option>
      <% IsoCountryCodes.for_select.each do |i| %>
        <option value="<%= i.second %>"><%= i.first %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.text_field :city, class: "form-control", placeholder: "city" %>
  </div>
  <div class="form-group">
    <%= f.submit "select", class: "btn, btn-default" %>
  </div>
<% end %>

<br><br>
<div id="error"></div>

<div id="result">
  <%= render partial: "shared/work" %>
  <%#= @weather_show %>
</div>

